{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <section>
          <div class="section-title">
            <h2><span>Posts</span></h2>
          </div>

          <div class="after-post-tags">
            <ul class="tags">
              {{ range $key, $value := .Site.Taxonomies.tags }}
	      <li><a href="/tags/{{ $key | urlize  }}">{{ $key | humanize }}</a></li>
              {{ end }}
              {{ range $key, $value := .Site.Taxonomies.categories }}
	      <li><a href="/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a></li>
              {{ end }}

            </ul>
          </div>

          <div class="row listrecent">
            {{ $post_paginator := .Paginate (.Pages) 12 }}
            {{ range $post_paginator.Pages }}
               {{- partial "list-partials/postbox.html" . -}}
            {{end}}
          </div>
        </section>


        {{- partial "list-partials/pagination.html" $post_paginator -}}
        {{- partial "_shared/social.html" . -}}
    </div>
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
