{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section>
            <div class="section-title">
                <h2><span>Recent Posts</span></h2>
            </div>
            <div class="row listrecent">
              {{ range first 12 (where .Pages "Section" "blog") }}
                    {{- partial "list-partials/postbox.html" . -}}
              {{end}}
            </div>
        </section>
    </div>
    {{- partial "list-partials/pagination.html" -}}

    {{- partial "_shared/social.html" . -}}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
