{{ with .Params.Website }}
<a href="{{ . }}"><i class="fa fa-external-link-square-alt social-icon" aria-hidden="true"></i></a>
{{ end }}
{{ with .Params.Linkedin }}
<a href="https://linkedin.com/in/{{ . }}"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a>
{{ end }}
{{ with .Params.Twitter }}
<a href="https://www.twitter.com/{{ . }}"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a>
{{ end }}
{{ with .Params.Contact }}
<a href="mailto:{{ . }}"><i class="far fa-envelope social-icon" aria-hidden="true"></i></a>
{{ end }}
{{ with .OutputFormats.Get "VCF" -}}
<a href="{{ .Permalink }}"><i class="far fa-address-card social-icon"></i></a>
{{- end }}
