{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="mainheading">
    <h1 class="sitetitle">{{ .Params.Title }}</h1>
    <p class="lead">
    </p>
</div>

<div class="main-content">

  {{ .Content }}

  <!-- Create a div where the graph will take place -->
  <div id="my_dataviz"></div>
  <script type="application/javascript" src="/js/heatmap.js"></script>

  {{ $bundle := .Site.GetPage "collaboration" }}
  {{ $content := $bundle.Resources.Match "content2.md" }}
  {{ range $content }}
  {{ .Content }}
  {{ end }}

</div>
{{ end }}


{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}
