<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .URL }}">
                {{with .Params.image}}
                    <img class="card-img-top" src="{{ . }}" alt="A thumbnail image">
                {{end}}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Params.Name }}</a></h2>
            <h4 class="card-text">{{ .Params.Department }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{ with .Params.Linkedin }}
            <a href="https://linkedin.com/in/{{ . }}"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a>
            {{ end }}
            {{ with .Params.Twitter }}
            <a href="https://www.twitter.com/{{ . }}"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a>
            {{ end }}
            {{ with .Params.Contact }}
            <a href="mailto:{{ . }}"><i class="far fa-envelope social-icon" aria-hidden="true"></i></a>
            {{ end }}
          </li>
        </ul>
    </div>
</div>
